<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='colorpictures.css') }}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <title>Color Pictures</title>
</head>
<body>
    <div style="display:flex; flex-direction: column; align-items: center;">
        <div>
            <form action="{{ url_for('home') }}" style="display:inline;">
                <input type="submit" value="Homepage">
            </form>
            <form action="{{ url_for('search') }}" style="display:inline;">
                <input type="submit" value="Search">
            </form>
            <form action="{{ url_for('full_category') }}" style="display:inline;">
                <input type="submit" value="Star Coloring">
            </form>
            {% if 'token' in session %}
                <form action="{{ url_for('logout') }}" style="display:inline;">
                    <input type="submit" value="Log out">
                </form>
            {% endif %}
            <hr>
        </div>
        <div>
            <h2>Xin chào {{ fullname }}!</h2>
        </div>
        <div>
            <form action="{{ url_for('profile', artist=session['token']) }}" style="display:inline;">
                <input type="submit" value="My Arts">
            </form>
        </div>
    </div>
</body>
</html>